@media (max-width: 1920px) {
  .PageContainer {
    max-width: 1200px;
  }
}
@media (max-width: 1600px) {
  .PageContainer {
    max-width: 1000px;
  }
}
@media (max-width: 1000px) {
  .PageContainer {
    max-width: 800px;
  }
  .PageContainer__firstSection {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .PageContainer__firstSection .firstSection__TextContent {
    max-width: 100% !important;
  }
  .PageContainer__firstSection .firstSection__wrapper {
    max-width: 50% !important;
  }
}
@media (max-width: 600px) {
  .PageContainer {
    max-width: 400px;
  }
  .PageContainer__firstSection {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .PageContainer__firstSection .firstSection__TextContent {
    max-width: 100% !important;
  }
  .PageContainer__firstSection .firstSection__wrapper {
    max-width: 50% !important;
  }
}
@media (max-width: 300px) {
  .PageContainer {
    max-width: 200px;
  }
  .PageContainer__firstSection {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
  }
  .PageContainer__firstSection .firstSection__TextContent {
    width: 100% !important;
  }
  .PageContainer__firstSection .firstSection__wrapper {
    width: 50% !important;
  }
}
.PageContainer__footer, .PageContainer__TextSection, .PageContainer__header .header__nav, .PageContainer__header, body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body {
  background-color: #2e2e32;
}

.PageContainer {
  background-color: #1c1c1e;
  -webkit-box-shadow: 0px 4px 8px black;
          box-shadow: 0px 4px 8px black;
  min-width: none;
  max-width: 1200px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #f1f1f1;
  padding: 10px;
  border-radius: 8px;
}
.PageContainer h1, .PageContainer h2 {
  color: #e63946;
}

.PageContainer__header {
  background-color: #29292e;
}
.PageContainer__header .header__nav {
  gap: 20px;
}
.PageContainer__header .header__nav a {
  color: white;
}
.PageContainer__header .header__nav a:hover {
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  color: #e63946;
  cursor: pointer;
}

.PageContainer__firstSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 15%;
  margin-top: 2%;
  margin-bottom: 3%;
}
.PageContainer__firstSection .firstSection__TextContent {
  min-width: none;
  max-width: 50%;
}
.PageContainer__firstSection .firstSection__wrapper {
  min-width: auto;
  max-width: 30%;
}
.PageContainer__firstSection .wrapper__Image {
  max-width: 100%;
  min-width: auto;
  height: auto;
}

.PageContainer__TextSection {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.PageContainer__footer {
  background-color: #29292e;
}
/*# sourceMappingURL=index.css.map */