@media (max-width: 1920px) {
    .PageContainer {
        max-width: 1200px;
    }
}

@media (max-width: 1600px) {
    .PageContainer {
        max-width: 1000px;
    }
}

@media (max-width: 1000px) {
    .PageContainer {
        max-width: 800px;
    }
    .PageContainer__firstSection {
        flex-direction: column !important;
        justify-content: center;
        align-items: center;
        .firstSection__TextContent{
            max-width: 100% !important;
        }
        .firstSection__wrapper{
            max-width: 50% !important;
        }
    }
}

@media (max-width: 600px) {
    .PageContainer {
        max-width: 400px;
    }
    .PageContainer__firstSection {
        flex-direction: column !important;
        justify-content: center;
        align-items: center ;
        .firstSection__TextContent{
            max-width: 100% !important;
        }
        .firstSection__wrapper{
            max-width: 50% !important;
        }
    }
}

@media (max-width: 300px) {
    .PageContainer {
        max-width: 200px;
    }
    .PageContainer__firstSection {
        flex-direction: column !important;
        .firstSection__TextContent{
            width: 100% !important;
        }
        .firstSection__wrapper{
            width: 50% !important;
        }
    }
}

%center{
    display: flex;
    justify-content: center;
    align-items: center;
}

body
{
    @extend %center;

    background-color: #2e2e32;
}
.PageContainer__header
{
    @extend %center;

    background-color: #29292e;
    
}
.header__nav
{
    gap: 20px;
    @extend %center;

    a{
        color: white;
        &:hover
        {
        transition-duration: 0.5s;
        color: #e63946;
        cursor: pointer;
        }
    }
}
.PageContainer
{
    background-color: #1c1c1e;
    box-shadow: 0px 4px 8px black;

    min-width: none;
    max-width: 1200px;

    position: relative;

    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    
    color: #f1f1f1;

    padding: 10px;

    border-radius: 8px;
    h1, h2{
        color: #e63946;
    }
}
.PageContainer__firstSection
{
    display: flex; 
    flex-direction: row;

    gap:15%;

    margin-top:2%;
    margin-bottom:3%;
}
.firstSection__TextContent
{
    min-width:none ;
    max-width: 50%;
}
.firstSection__wrapper
{
    min-width: auto;
    max-width: 30%;
}
.wrapper__Image
{
    max-width: 100%;
    min-width: auto;
    height: auto
}

.PageContainer__TextSection
{
    @extend %center;

    flex-direction: column;
}
.PageContainer__footer
{
    @extend %center;

    background-color: #29292e;
}